n8n-workflows/octo-movie-generation.json
{
  "name": "Octo Movie Generation - Azure Sora 2 + Azure TTS + Appwrite",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "movie/generate",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Movie Generation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "octo-movie-generate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Movie generation started\", \"movie_id\": $json.movie_id, \"job_id\": $runIndex } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO movie_jobs (movie_id, n8n_execution_id, status, started_at) VALUES ('{{ $('Movie Generation Webhook').item.json.movie_id }}', '{{ $execution.id }}', 'processing', NOW()) RETURNING id",
        "options": {}
      },
      "id": "create-job-record",
      "name": "Create Job Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flowfi.cognitiveservices.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2025-01-01-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "9zMZdd9AnkTcDvxT6MnDYfPopybq0Pydkwv6ihDRURqUTwWC5QlMJQQJ99BIACYeBjFXJ3w3AAAAACOGUgI4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional film director and storyboard artist. Analyze the given script and break it down into individual scenes suitable for AI video generation.\\n\\nFor each scene, provide a JSON object with these fields:\\n- scene_number: integer starting from 1\\n- title: short descriptive title\\n- duration: number between 5-15 (seconds)\\n- visual_prompt: detailed cinematic description for Sora video generation (be specific about camera angles, lighting, movement, atmosphere)\\n- camera_movement: one of [static, pan_left, pan_right, zoom_in, zoom_out, tracking, aerial, handheld]\\n- shot_type: one of [wide, medium, close_up, extreme_close_up, aerial, over_shoulder]\\n- voiceover_text: narration text for this scene (or null if no voiceover)\\n- voice_style: one of [friendly, professional, dramatic, calm, excited] (only if voiceover_text exists)\\n- transition: one of [cut, fade, dissolve, wipe]\\n\\nIMPORTANT: Output ONLY a valid JSON array. No markdown, no explanation, just the JSON array.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Script: {{ $('Movie Generation Webhook').item.json.script }}\\n\\nStyle preferences: {{ JSON.stringify($('Movie Generation Webhook').item.json.style_preferences) }}\\n\\nBreak this into {{ $('Movie Generation Webhook').item.json.target_scenes || 5 }} scenes.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000\n}"
      },
      "id": "script-analyzer",
      "name": "GPT-4o Script Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse GPT-4o response and extract scenes\nconst response = $input.first().json;\nconst movieId = $('Movie Generation Webhook').item.json.movie_id;\n\nlet scenes;\ntry {\n  // Extract content from GPT response\n  const content = response.choices[0].message.content;\n  \n  // Try to parse JSON (handle potential markdown code blocks)\n  let jsonStr = content;\n  if (content.includes('```json')) {\n    jsonStr = content.split('```json')[1].split('```')[0];\n  } else if (content.includes('```')) {\n    jsonStr = content.split('```')[1].split('```')[0];\n  }\n  \n  scenes = JSON.parse(jsonStr.trim());\n} catch (error) {\n  throw new Error(`Failed to parse scenes: ${error.message}`);\n}\n\n// Return each scene as a separate item for parallel processing\nreturn scenes.map((scene, index) => ({\n  json: {\n    ...scene,\n    movie_id: movieId,\n    scene_number: scene.scene_number || index + 1,\n    total_scenes: scenes.length\n  }\n}));"
      },
      "id": "parse-scenes",
      "name": "Parse Scenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO movie_scenes (movie_id, scene_number, title, duration, visual_prompt, camera_movement, shot_type, voiceover_text, transition, status) VALUES ('{{ $json.movie_id }}', {{ $json.scene_number }}, '{{ $json.title }}', {{ $json.duration }}, '{{ $json.visual_prompt.replace(/'/g, \"''\") }}', '{{ $json.camera_movement }}', '{{ $json.shot_type }}', {{ $json.voiceover_text ? \"'\" + $json.voiceover_text.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, '{{ $json.transition }}', 'generating') RETURNING id",
        "options": {}
      },
      "id": "save-scene-to-db",
      "name": "Save Scene to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://suzar-mh225uaw-eastus2.cognitiveservices.azure.com/openai/v1/video/generations/jobs?api-version=preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "FpyNVx3HU6qv92ZTypcSBI250cmgYcRT8wPglshXt5plqnuz8Z4NJQQJ99BJACHYHv6XJ3w3AAAAACOGSaAO"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2\",\n  \"prompt\": \"{{ $json.visual_prompt.replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ') }}\",\n  \"n_seconds\": {{ Math.min($json.duration || 10, 20) }},\n  \"height\": 720,\n  \"width\": 1280\n}"
      },
      "id": "sora-create-video",
      "name": "Sora 2 - Create Video Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "// Store the Sora job ID and original scene data\nconst soraResponse = $input.first().json;\nconst sceneData = $('Save Scene to DB').item.json;\n\nreturn [{\n  json: {\n    ...sceneData,\n    sora_job_id: soraResponse.id,\n    sora_status: soraResponse.status || 'queued',\n    scene_db_id: $('Save Scene to DB').item.json.id\n  }\n}];"
      },
      "id": "store-sora-job",
      "name": "Store Sora Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-for-sora",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 200],
      "webhookId": "sora-wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://suzar-mh225uaw-eastus2.cognitiveservices.azure.com/openai/v1/video/generations/jobs/{{ $json.sora_job_id }}?api-version=preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "FpyNVx3HU6qv92ZTypcSBI250cmgYcRT8wPglshXt5plqnuz8Z4NJQQJ99BJACHYHv6XJ3w3AAAAACOGSaAO"
            }
          ]
        },
        "options": {}
      },
      "id": "sora-check-status",
      "name": "Sora 2 - Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "jsCode": "// Check Sora status and decide next step\nconst statusResponse = $input.first().json;\nconst previousData = $('Store Sora Job ID').item.json;\n\nconst status = statusResponse.status;\nconst pollCount = (previousData.poll_count || 0) + 1;\nconst maxPolls = 60; // 10 minutes max (60 * 10 seconds)\n\nif (status === 'completed' || status === 'succeeded') {\n  return [{\n    json: {\n      ...previousData,\n      sora_status: 'completed',\n      video_ready: true,\n      poll_count: pollCount\n    }\n  }];\n} else if (status === 'failed') {\n  return [{\n    json: {\n      ...previousData,\n      sora_status: 'failed',\n      video_ready: false,\n      error: statusResponse.error?.message || 'Video generation failed',\n      poll_count: pollCount\n    }\n  }];\n} else if (pollCount >= maxPolls) {\n  return [{\n    json: {\n      ...previousData,\n      sora_status: 'timeout',\n      video_ready: false,\n      error: 'Video generation timed out after 10 minutes',\n      poll_count: pollCount\n    }\n  }];\n} else {\n  // Still processing\n  return [{\n    json: {\n      ...previousData,\n      sora_status: status,\n      video_ready: false,\n      poll_count: pollCount,\n      progress: statusResponse.progress || 0\n    }\n  }];\n}"
      },
      "id": "check-sora-status",
      "name": "Check Sora Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "video-ready",
              "leftValue": "={{ $json.video_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-video-ready",
      "name": "Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failed",
              "leftValue": "={{ $json.sora_status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "check-timeout",
              "leftValue": "={{ $json.sora_status }}",
              "rightValue": "timeout",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-still-processing",
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://suzar-mh225uaw-eastus2.cognitiveservices.azure.com/openai/v1/video/generations/jobs/{{ $json.sora_job_id }}/content/video?api-version=preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "FpyNVx3HU6qv92ZTypcSBI250cmgYcRT8wPglshXt5plqnuz8Z4NJQQJ99BJACHYHv6XJ3w3AAAAACOGSaAO"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video_data"
            }
          }
        }
      },
      "id": "sora-download-video",
      "name": "Sora 2 - Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eastus.tts.speech.microsoft.com/cognitiveservices/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/ssml+xml"
            },
            {
              "name": "X-Microsoft-OutputFormat",
              "value": "audio-24khz-160kbitrate-mono-mp3"
            },
            {
              "name": "User-Agent",
              "value": "OctoMovieGenerator"
            },
            {
              "name": "Ocp-Apim-Subscription-Key",
              "value": "9zMZdd9AnkTcDvxT6MnDYfPopybq0Pydkwv6ihDRURqUTwWC5QlMJQQJ99BIACYeBjFXJ3w3AAAAACOGUgI4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/ssml+xml",
        "body": "=<speak version='1.0' xmlns='http://www.w3.org/2001/10/synthesis' xmlns:mstts='https://www.w3.org/2001/mstts' xml:lang='en-US'>\n  <voice name='{{ $json.voice_name || \"en-US-JennyNeural\" }}'>\n    <mstts:express-as style='{{ $json.voice_style || \"friendly\" }}'>\n      {{ $json.voiceover_text }}\n    </mstts:express-as>\n  </voice>\n</speak>",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_data"
            }
          }
        }
      },
      "id": "azure-tts-generate",
      "name": "Azure TTS - Generate Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-voiceover",
              "leftValue": "={{ $json.voiceover_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-voiceover",
      "name": "Has Voiceover?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-video-audio",
      "name": "Merge Video & Audio",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare FFmpeg command for combining video and audio\nconst items = $input.all();\nconst sceneData = items[0]?.json || {};\nconst hasAudio = sceneData.voiceover_text && sceneData.audio_data;\n\nconst movieId = sceneData.movie_id;\nconst sceneNum = sceneData.scene_number;\nconst videoFileName = `scene_${sceneNum}_video.mp4`;\nconst audioFileName = `scene_${sceneNum}_audio.mp3`;\nconst outputFileName = `scene_${sceneNum}_assembled.mp4`;\n\nlet ffmpegCommand;\n\nif (hasAudio) {\n  // Combine video with voiceover audio\n  ffmpegCommand = `ffmpeg -i /tmp/${movieId}/${videoFileName} -i /tmp/${movieId}/${audioFileName} -c:v copy -c:a aac -b:a 192k -shortest -y /tmp/${movieId}/${outputFileName}`;\n} else {\n  // Just copy video (no audio)\n  ffmpegCommand = `cp /tmp/${movieId}/${videoFileName} /tmp/${movieId}/${outputFileName}`;\n}\n\nreturn [{\n  json: {\n    ...sceneData,\n    video_file: videoFileName,\n    audio_file: hasAudio ? audioFileName : null,\n    output_file: outputFileName,\n    ffmpeg_command: ffmpegCommand,\n    work_dir: `/tmp/${movieId}`\n  }\n}];"
      },
      "id": "prepare-ffmpeg-scene",
      "name": "Prepare FFmpeg Scene Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 200]
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.work_dir }} && {{ $json.ffmpeg_command }}",
        "options": {}
      },
      "id": "ffmpeg-assemble-scene",
      "name": "FFmpeg - Assemble Scene",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3540, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE movie_scenes SET video_url = '{{ $json.output_file }}', status = 'completed', assembled_url = '{{ $json.output_file }}' WHERE movie_id = '{{ $json.movie_id }}' AND scene_number = {{ $json.scene_number }}",
        "options": {}
      },
      "id": "update-scene-complete",
      "name": "Update Scene Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3760, 200],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE movie_projects SET completed_scenes = completed_scenes + 1 WHERE id = '{{ $json.movie_id }}'",
        "options": {}
      },
      "id": "update-movie-progress",
      "name": "Update Movie Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3980, 200],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "collect-all-scenes",
      "name": "Collect All Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [4200, 200]
    },
    {
      "parameters": {
        "jsCode": "// Check if all scenes are processed and prepare final assembly\nconst allScenes = $input.all();\nconst movieId = allScenes[0]?.json.movie_id;\nconst totalScenes = allScenes[0]?.json.total_scenes;\n\nif (allScenes.length < totalScenes) {\n  // Not all scenes processed yet, wait for more\n  return [];\n}\n\n// All scenes ready - prepare concat file for FFmpeg\nconst sortedScenes = allScenes\n  .map(item => item.json)\n  .sort((a, b) => a.scene_number - b.scene_number);\n\nconst concatFileContent = sortedScenes\n  .map(scene => `file '/tmp/${movieId}/${scene.output_file}'`)\n  .join('\\n');\n\nconst finalOutputFile = `${movieId}_final_movie.mp4`;\n\nreturn [{\n  json: {\n    movie_id: movieId,\n    total_scenes: totalScenes,\n    scenes: sortedScenes,\n    concat_file_content: concatFileContent,\n    concat_file_path: `/tmp/${movieId}/concat.txt`,\n    final_output: `/tmp/${movieId}/${finalOutputFile}`,\n    final_filename: finalOutputFile,\n    work_dir: `/tmp/${movieId}`\n  }\n}];"
      },
      "id": "prepare-final-assembly",
      "name": "Prepare Final Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 200]
    },
    {
      "parameters": {
        "command": "=echo '{{ $json.concat_file_content }}' > {{ $json.concat_file_path }} && ffmpeg -f concat -safe 0 -i {{ $json.concat_file_path }} -c:v libx264 -preset fast -crf 22 -c:a aac -b:a 192k -y {{ $json.final_output }}",
        "options": {}
      },
      "id": "ffmpeg-final-concat",
      "name": "FFmpeg - Final Concatenation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://syd.cloud.appwrite.io/v1/storage/buckets/octo-movies/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Appwrite-Project",
              "value": "lemongrab"
            },
            {
              "name": "X-Appwrite-Key",
              "value": "standard_152308090427d919a978590cbbff6d3a799d2f4fb0efa7cca133d2a1be2275998088baa7318ea4f83eb02909d7f13ccf0decadb95b6065e941f2e9fd31eee58e5fc5b1ee8a28714382054e8f2f820d3c604e89e7980f2ffa87b37d5daa6d205e71aeff9fdec0befa2f47c1af6e9dba1dae81c4e16070ff900d7432179e6ce3d2"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileId",
              "value": "={{ $json.movie_id }}"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "={{ $json.final_output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-to-appwrite",
      "name": "Upload to Appwrite Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4860, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generate Appwrite public URL for the uploaded video\nconst movieId = $('Prepare Final Assembly').item.json.movie_id;\nconst uploadResponse = $input.first().json;\n\n// Appwrite file URL format\nconst appwriteEndpoint = 'https://syd.cloud.appwrite.io/v1';\nconst projectId = 'lemongrab';\nconst bucketId = 'octo-movies';\nconst fileId = uploadResponse.$id || movieId;\n\n// Public view URL\nconst publicUrl = `${appwriteEndpoint}/storage/buckets/${bucketId}/files/${fileId}/view?project=${projectId}`;\n\n// Download URL\nconst downloadUrl = `${appwriteEndpoint}/storage/buckets/${bucketId}/files/${fileId}/download?project=${projectId}`;\n\nreturn [{\n  json: {\n    movie_id: movieId,\n    file_id: fileId,\n    final_video_url: publicUrl,\n    download_url: downloadUrl,\n    status: 'completed'\n  }\n}];"
      },
      "id": "generate-appwrite-url",
      "name": "Generate Appwrite URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5080, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE movie_projects SET status = 'completed', final_video_url = '{{ $json.final_video_url }}', updated_at = NOW() WHERE id = '{{ $json.movie_id }}'",
        "options": {}
      },
      "id": "update-movie-complete",
      "name": "Update Movie Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5300, 200],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE movie_jobs SET status = 'completed', progress = 100, completed_at = NOW() WHERE movie_id = '{{ $json.movie_id }}'",
        "options": {}
      },
      "id": "update-job-complete",
      "name": "Update Job Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5520, 200],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://octo.airail.uk/api/webhook/movie-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "octo-n8n-webhook-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"movie_id\": \"{{ $json.movie_id }}\",\n  \"status\": \"completed\",\n  \"final_video_url\": \"{{ $json.final_video_url }}\",\n  \"download_url\": \"{{ $json.download_url }}\",\n  \"completed_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "notify-octo-complete",
      "name": "Notify Octo - Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5740, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE movie_scenes SET status = 'failed', error_message = '{{ $json.error }}' WHERE movie_id = '{{ $json.movie_id }}' AND scene_number = {{ $json.scene_number }}",
        "options": {}
      },
      "id": "update-scene-failed",
      "name": "Update Scene Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3100, 600],
      "credentials": {
        "postgres": {
          "id": "octo-neon-db",
          "name": "Octo Neon Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://octo.airail.uk/api/webhook/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "octo-n8n-webhook-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"movie_id\": \"{{ $json.movie_id }}\",\n  \"scene_number\": {{ $json.scene_number }},\n  \"error\": \"{{ $json.error }}\",\n  \"status\": \"failed\"\n}"
      },
      "id": "notify-octo-error",
      "name": "Notify Octo - Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 600]
    },
    {
      "parameters": {},
      "id": "no-voiceover",
      "name": "No Voiceover - Skip TTS",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 500]
    }
  ],
  "connections": {
    "Movie Generation Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Job Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Record": {
      "main": [
        [
          {
            "node": "GPT-4o Script Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Script Analyzer": {
      "main": [
        [
          {
            "node": "Parse Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scenes": {
      "main": [
        [
          {
            "node": "Save Scene to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scene to DB": {
      "main": [
        [
          {
            "node": "Sora 2 - Create Video Job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Voiceover?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora 2 - Create Video Job": {
      "main": [
        [
          {
            "node": "Store Sora Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Sora Job ID": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "Sora 2 - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora 2 - Check Status": {
      "main": [
        [
          {
            "node": "Check Sora Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sora Status": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Sora 2 - Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Still Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Processing?": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Scene Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sora 2 - Download Video": {
      "main": [
        [
          {
            "node": "Merge Video & Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voiceover?": {
      "main": [
        [
          {
            "node": "Azure TTS - Generate Speech",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Voiceover - Skip TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure TTS - Generate Speech": {
      "main": [
        [
          {
            "node": "Merge Video & Audio",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Voiceover - Skip TTS": {
      "main": [
        [
          {
            "node": "Merge Video & Audio",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Video & Audio": {
      "main": [
        [
          {
            "node": "Prepare FFmpeg Scene Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FFmpeg Scene Assembly": {
      "main": [
        [
          {
            "node": "FFmpeg - Assemble Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg - Assemble Scene": {
      "main": [
        [
          {
            "node": "Update Scene Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scene Complete": {
      "main": [
        [
          {
            "node": "Update Movie Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Progress": {
      "main": [
        [
          {
            "node": "Collect All Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Scenes": {
      "main": [
        [
          {
            "node": "Prepare Final Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Assembly": {
      "main": [
        [
          {
            "node": "FFmpeg - Final Concatenation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg - Final Concatenation": {
      "main": [
        [
          {
            "node": "Upload to Appwrite Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Appwrite Storage": {
      "main": [
        [
          {
            "node": "Generate Appwrite URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Appwrite URL": {
      "main": [
        [
          {
            "node": "Update Movie Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Complete": {
      "main": [
        [
          {
            "node": "Update Job Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Complete": {
      "main": [
        [
          {
            "node": "Notify Octo - Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scene Failed": {
      "main": [
        [
          {
            "node": "Notify Octo - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "octo-movie-generator"
  },
  "pinData": {},
  "versionId": "1.1.0",
  "triggerCount": 0,
  "tags": [
    {
      "name": "octo",
      "createdAt": "2024-12-09T00:00:00.000Z",
      "updatedAt": "2024-12-09T00:00:00.000Z"
    },
    {
      "name": "video-generation",
      "createdAt": "2024-12-09T00:00:00.000Z",
      "updatedAt": "2024-12-09T00:00:00.000Z"
    },
    {
      "name": "appwrite",
      "createdAt": "2024-12-09T00:00:00.000Z",
      "updatedAt": "2024-12-09T00:00:00.000Z"
    }
  ]
}
